hr{
    color: white;
    size: 30px;
}
/* }<tr>
            <h3>Address</h3>
            <input type="text" name="" id="" style="width: 100% ; border-radius:
            6px;"">
            <p style="font-size: 5px">Street Address</p>
            <input type="text" style="width: 100%; border-radius: 6px" />
            <p style="font-size: 5px; width: 80%">Street Address Line2</p>
            <input type="text" style="width: 30%; border-radius: 6px" />&nbsp;
            <input type="text" style="width: 30%; border-radius: 6px" />
            <div>
              <p style="font-size: 5px; word-spacing: 100px">City State</p>
            </div>
            <input type="text" style="width: 50%; border-radius: 6px" />
            <p style="font-size: 5px">Zip</p>
            <select name="" id="" style="width: 40%; border-radius: 6px">
              <option value="">Lebanon</option>
            </select>
            <h6 style="font-size: 5px">Select country</h6>
          </tr>
          <tr>
            <h3>Contact</h3>
            <input
              type="text"
              name=""
              id=""
              style="width: 30%; height: 10%; border-radius: 6px"
            />&nbsp;
            <input
              type="text"
              name=""
              id=""
              style="width: 30%; height: 10%; border-radius: 6px"
            />
            <div class="container">
              <p style="font-size: 5px; word-spacing: 40%">Phone Email</p>
            </div>
          </tr>
          <tr>
            <h3>Personal Details</h3>
           >
          </tr>
          <tr>
            
          </tr>
                   <div style="text-align: center"><button type="submit"
                   style="background-color: blue; color: white; border-radius: 5px"
                   >Submit </button></div> */




        